.bs {
    .card {
        --bs-card-color: #000;
        --bs-card-cap-color: #000;
        max-width: 15rem;
    }
    .card-group.cg-1 {
        margin-bottom: -1px;
        >.card:first-child {
            border-bottom-left-radius: 0;
        }
        >.card:last-child {
            border-bottom-right-radius: 0;
        }
    }
    .card-group.cg-2 {
        >.card:first-child {
            border-top-left-radius: 0;
        }
        >.card:last-child {
            border-top-right-radius: 0;
        }
    }
    .card-group .card {
        .card-body p {
            margin: 0;
        }
        .card-header {
            align-items: center;
            display: flex;
            min-height: 4rem;
            padding-bottom: .75rem;
        }
    }

    .modal {
        --bs-modal-color: #000;
    }
    
    .sc-admin-menu.dropdown-menu {
        border: none;
        display: block;
        position: relative;
    }
    
    .sc-admin-dlg-results .modal-dialog {
        max-width: 95vw;
    }
    
    .sc-admin-dlg-results .modal-title {
        margin-left: 0;
    }
    
    .sc-admin-dlg-results .modal-body {
        max-height: 75vh;
        overflow: auto;
    }
}

/* Apply changes to the Settings Panel */
div.spPropertyPaneContainer div[aria-label='Site Admin Tool property pane'] div[data-automation-id='propertyPaneGroupContent'] {
    /* Align version to the right */
    >div:last-child label {
        text-align: right;
    }
}

#sc-admin-link {
    cursor: pointer;
}