.bs {
    .card {
        --bs-card-color: #000;
        --bs-card-cap-color: #000;
        .card-header>.title {
            align-items: center;
            display: flex;
            min-height: 3rem;
        }
        .card-body {
            .d-flex {
                .dropdown {
                    min-width: 18rem;
                    button.dropdown-toggle {
                        text-align: left;
                    }
                    button.dropdown-toggle::after {
                        float: right;
                        margin-top: .55rem;
                    }
                }
                button.run {
                    min-width: 4rem;
                    margin-left: auto;
                }
                
            }
            p {
                margin: 0;
            }
        }
    }
    .modal {
        --bs-modal-color: #000;
    }
    .offcanvas {
        z-index: 1090;
    }
}

/* Apply changes to the Settings Panel */
div.spPropertyPaneContainer div[aria-label='Site Admin Tool property pane'] div[data-automation-id='propertyPaneGroupContent'] {
    /* Align version to the right */
    >div:last-child label {
        text-align: right;
    }
}

#footer, .bs .card {
    max-width: 25rem;
}